@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --aqua-50:  #f0f9ff;
    --aqua-100: #e0f2fe;
    --aqua-500: #0ea5e9;
    --aqua-600: #0284c7;
    --aqua-700: #0369a1;
    --aqua-900: #0c4a6e;
  }

  * { @apply border-border; }
  body { @apply bg-background text-foreground; }
}
